master.html内容：
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/commons.css"/>
    <style>
        .pg-header {
            height: 50px;
            background-color: seashell;
            color: green;
        }
    </style>
    {% block css %} {% endblock %}
</head>
<body>
<div class="pg-header">菜单栏</div>
<div>
    <a>asdf</a>
    <a id="">asdf</a>
    <a>asdf</a>
    <a>asdf</a>
    <a>asdf</a>
</div>

<!--内联框架-->
<iframe src="/"></iframe>
</body>
</html>


commons.css文件内容：
body{
    background: #eeeeee;
}



html之间的引用：tpl1.html
{% extends 'master.html' %}

{% block title %}用户管理{% endblock %}

{% block content %}
    <h1>用户管理</h1>
    <ul>
        {% for i in u %}
            <li>{{ i }}</li>
        {% endfor %}
    </ul>

    {% for i in u %}
        {% include 'tag.html' %}
    {% endfor %}

{% endblock %}

{% block css %}
    <style>
        body{
            background-color: red;
        }
    </style>
{% endblock %}

{% block js %}
    <script></script>
{% endblock %}
